.border {
    height: auto;
    margin: auto;
    border: 1px solid;
    width: 70%;
    margin-top: 3%;
    min-height: 30em;
    margin-bottom: 4%;
    margin-left: 30%;
}

.image {
    height: 5em;
    width: 4em;
}

.cart-title {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 15px; */
    padding-left: 4%;
    padding-top: 2%;
}

.cart-image1 {
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    padding-top: 5%;

}

.book-title {
    /* margin-top: 3%; */
    margin-left: -0.8%;
    font-family: fantasy;
}

.book-author {
    margin-top: 1%;
    color: gray;
}

.book-price {
    margin-top: 3%;
    font: bold 15px Georgia, serif;

}

.minus {
    width: 8%;
    border-radius: 70%;
    border: 1px solid grey;
    background-color: whitesmoke;
}

.text {
    padding-left: 4%;
    margin-left: 1.5%;
    width: 13%;
}

.plus {
    margin-left: 1.5%;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: whitesmoke;
}

.remove {
    border: none;
    background-color: white;
    padding-left: 5%;
}

.place-order {
    background-color: #3371b5;
    color: whitesmoke;
    border: none;
    margin-top: 1%;
    padding: 1%;
    margin-left: 77%;
    margin-right: 5%;
    margin-bottom: 3%;
  }

.total-price {
    margin-top: 3%;
    margin-left: -45%;

    /* margin-left:5%; */
    /* margin-bottom: 5%; */
    /* width: 20% */
}

#totalprice {
    width: 100%;
    text-align: center;
    margin: 1px;
}

.cartDetails {
    border-style: "outset";
    margin-left: "10%";
    margin-right: "10%";
    margin-top: "5%"
}